<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Elliot</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body class="main_color">
        <!-- {% include 'navbar.html' %} -->

        <link
        href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light'
        rel='stylesheet' type='text/css'>
    
        <div class="wrapper clearfix">
            <div class="left left_color">
        
                <div class="name-hero">
        
                    <div class="me-img"></div>
        
                    <div class="name-text">
        
                        <h1 class="title_color">Elliot <em>Cosneau</em></h1>
                        <p class="main_text">Ixelles, Belgium</p>
                        <p class="main_text">elliotcosneau@gmail.com</p>
                        <br>
                        <p class="title_color">Junior Data Scientist</p>
                        <br>
                        <!-- <h1 class="title_color">Projects</h1> -->
                        <!-- <a class="main_text" href="{% url 'hexguessr' %}">HexGuessr</a> -->
        
                    </div>
        
                </div>
        
            </div>
            <div class="right">
        
                <div class="inner">
                    <section>
                        <div>
                            <h1 class="title_color">Experience</h1>
        
                                <p class="main_text">03/2023 - 02/2024 | <em>Heartkinetics | Junior Data Scientist</em></p>
                                <ul class="secondary_text">
                                    <li>Built Deep Learning models using the Mayo Clinic Database</li>
                                    <li>Designed and optimized ML Models on internal data</li>
                                    <li>Performed data analysis for clinical studies</li>
                                </ul>
        
                                <p class="main_text">09/2022 - 03/2023 | <em>Heartkinetics | Internship - Data Analyst</em></p>
                                <ul class="secondary_text">
                                    <li>Data cleaning and statistical analysis for clinical studies</li>
                                    <li>Conduct study to assess the quality of biosignals</li>
                                </ul>
        
                                <p class="main_text">04/2021 - 08/2021 | <em>CNRS - PRISM | Internship - Research Engineer</em></p>
                                <ul class="secondary_text">
                                    <li>Planned, designed and executed a protocol to assess performances of a spatial audio system</li>
                                    <li>Performed statistical analysis of the results</li>
                                </ul>
                                </p>
                        </div>
                    </section>
        
                    <section>
                        <h1 class="title_color">Skills</h1>
                        <ul class="skill-set main_text">
                            <li>Data Science: <em class="secondary_text">Python, Pandas, Numpy, Scipy, Jupyter</em></li>
                            <li>Machine Learning: <em class="secondary_text">Pytorch, Sklearn, MLFLow</em></li>
                            <li>Data Visualization: <em class="secondary_text">Matplotlib, Seaborn</em></li>
                            <li>Data Analysis: <em class="secondary_text">SQL: Apache Spark</em></li>
                            <li>Development: <em class="secondary_text">Django, Pytest, Git</em></li>
                        </ul>
                    </section>
                    <section>
                        <h1 class="title_color">Publications</h1>
                        <a href="https://www.mdpi.com/1424-8220/24/7/2139" class="main_text">Hossein, Amin, et al. "Smartphone-Derived Seismocardiography: 
                            Robust Approach for Accurate Cardiac Energy Assessment in Patients with Various Cardiovascular Conditions." 
                            Sensors 24.7 (2024): 2139.</a>
                    </section>
        
                    <section>
                        <div>
                            <h1 class="title_color">Education</h1>
        
                                <p class="main_text">09/2019 - 03/2023 | <em>IMT Nord-Europe | Master in Engineering</em></p>
                                <ul class="secondary_text">
                                    <li>Data Sciences (Python, ML, Deep Learning)</li>
                                    <li>Programming (OOP, SQL)</li>
                                    <li>Mathematics</li>
                                </ul>
        
                                <p class="main_text">09/2017 - 07/2019 | <em>Angers, Henri Bergson | CPGE - PSI/MPSI </em></p>
                                <ul class="secondary_text">
                                    <li>Mathematics, Physics, Engineering Science</li>
                                    <li>Programming (Python)</li>
                                </ul>
                                </p>
                        </div>
                    </section>
        
                    <section>
                        <h1 class="title_color">Personal Interests</h1>
                        <ul class="skill-set main_text">
                            <li>Mathematics: <em class="secondary_text">Abstract Algebra, Category Theory, Algebraic Topology</em></li>
                            <li>Audio Programming: <em class="secondary_text">Max/MSP, Pure Data, Orca, Tidal</em></li>
                            <li>Game Development: <em class="secondary_text">Unity, Blender</em></li>
                        </ul>
                    </section>
                </div>
        
            </div>
    
        </div>

    </body>
</html>